export GITHUB_TOKEN={{ .github_token }}

# Google Sheets integration for navex
export NAVEX_GOOGLE_CLIENT_ID={{ .navex_google_client_id }}
export NAVEX_GOOGLE_CLIENT_SECRET={{ .navex_google_client_secret }}
